## Data Preprocessing
Additional work before we send the csv to the classifiers.

In [2]:
import pandas as pd

df = pd.read_csv('./data/df_reviews_train.csv')
df.head()

   rating                                             review  sentiment
0       5  In my younger days when lunch choices consiste...          1
1       3  After going through yelp and tripadvisor, I wa...         -1
2       5  Ordered Sichuan Prawns and Singapore Rice Nood...          1
3       3  Wong Kei is one of the many options you'll fin...         -1
4       1  One of the worst experience in a restaurant in...         -1