In [46]:
!pwd
import pickle as pk
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

/Users/Jill/Documents/New Media and Sentiment Analysis/CA/EB5204_Sentiment_Mining_CA

In [47]:
dfCN = pd.read_csv('./data/df_test_chinese.csv')
dfFR = pd.read_csv('./data/df_test_french.csv')
dfIN = pd.read_csv('./data/df_test_indian.csv')
dfJP = pd.read_csv('./data/df_test_japanese.csv')
dfJP.head()

,category,id,name,rating,review,sentiment
0,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,5,We were back this July and made a point of ret...,1
1,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,4,Zuma has maintained it's consistency in food q...,1
2,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,4,The sushi and dishes here are spectacular. Bla...,1
3,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,2,"In short, over-rated.I apologize if I'm gong t...",-1
4,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,5,Cool / fancy place to have some great japanese...,1

In [48]:
dfCN.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfFR.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfIN.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfJP.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfJP.head()

                                              review  sentiment
0  We were back this July and made a point of ret...          1
1  Zuma has maintained it's consistency in food q...          1
2  The sushi and dishes here are spectacular. Bla...          1
3  In short, over-rated.I apologize if I'm gong t...         -1
4  Cool / fancy place to have some great japanese...          1

In [73]:
testCN = dfCN['review']
testFR = dfFR['review']
testIN = dfIN['review']
testJP = dfJP['review']
testCN_lab = dfCN['sentiment']
testFR_lab = dfFR['sentiment']
testIN_lab = dfIN['sentiment']
testJP_lab = dfJP['sentiment']
print(len(testCN_lab))
print(len(testFR_lab))
print(len(testIN_lab))
print(len(testJP_lab))

650
980
1369
552

In [81]:
with open('./models/vectorise.pk', 'rb') as vectorizer:
    vectorizer = pk.load(vectorizer)
test_vectorsCN = vectorizer.transform(testCN)
test_vectorsFR = vectorizer.transform(testFR)
test_vectorsIN = vectorizer.transform(testIN)
test_vectorsJP = vectorizer.transform(testJP)
print(test_vectorsCN.shape)
print(test_vectorsFR.shape)
print(test_vectorsIN.shape)
print(test_vectorsJP.shape)

/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

(650, 16332)
(980, 16332)
(1369, 16332)
(552, 16332)

In [82]:
# load naivebayes
with open('./models/classifier_naivebayes.pk', 'rb') as naivebayes:
    model1 = pk.load(naivebayes)
    predCN = model1.predict(test_vectorsCN)
    predFR = model1.predict(test_vectorsFR)
    predIN = model1.predict(test_vectorsIN)
    predJP = model1.predict(test_vectorsJP)
    predCN = list(predCN)
    predFR = list(predFR)
    predIN = list(predIN)
    predJP = list(predJP)
    cmCN_na = pd.crosstab(pd.Series(testCN_lab), pd.Series(predCN), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmFR_na = pd.crosstab(pd.Series(testFR_lab), pd.Series(predFR), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmIN_na = pd.crosstab(pd.Series(testIN_lab), pd.Series(predIN), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmJP_na = pd.crosstab(pd.Series(testJP_lab), pd.Series(predJP), rownames= ['actuals'], colnames=['pred'],margins=True)

/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator MultinomialNB from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [83]:
cmCN_na

pred      -1    1  All
actuals
-1       158   80  238
1         33  379  412
All      191  459  650

In [84]:
cmFR_na

pred      -1    1  All
actuals
-1       144   74  218
1         40  722  762
All      184  796  980

In [85]:
cmIN_na

pred      -1     1   All
actuals
-1       135   133   268
1         39  1062  1101
All      174  1195  1369

In [86]:
cmJP_na

pred      -1    1  All
actuals
-1        81   43  124
1         35  393  428
All      116  436  552

In [87]:
# load SVM
with open('./models/classifier_svm.pk', 'rb') as svm:
    model2 = pk.load(svm)
    predCN = model2.predict(test_vectorsCN)
    predFR = model2.predict(test_vectorsFR)
    predIN = model2.predict(test_vectorsIN)
    predJP = model2.predict(test_vectorsJP)
    predCN = list(predCN)
    predFR = list(predFR)
    predIN = list(predIN)
    predJP = list(predJP)
    cmCN_svm = pd.crosstab(pd.Series(testCN_lab), pd.Series(predCN), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmFR_svm = pd.crosstab(pd.Series(testFR_lab), pd.Series(predFR), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmIN_svm = pd.crosstab(pd.Series(testIN_lab), pd.Series(predIN), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmJP_svm = pd.crosstab(pd.Series(testJP_lab), pd.Series(predJP), rownames= ['actuals'], colnames=['pred'],margins=True)

/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator SVC from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [88]:
cmCN_svm

pred      -1    1  All
actuals
-1       195   43  238
1         60  352  412
All      255  395  650

In [89]:
cmFR_svm

pred      -1    1  All
actuals
-1       164   54  218
1         67  695  762
All      231  749  980

In [90]:
cmIN_svm

pred      -1     1   All
actuals
-1       190    78   268
1         65  1036  1101
All      255  1114  1369

In [91]:
cmJP_svm

pred      -1    1  All
actuals
-1        96   28  124
1         49  379  428
All      145  407  552