In [1]:
!pwd
import pickle as pk
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score

/Users/davidleonardi/Projects/EB5204_Sentiment_Mining_CA

In [2]:
dfCN = pd.read_csv('./data/df_test_chinese.csv')
dfFR = pd.read_csv('./data/df_test_french.csv')
dfIN = pd.read_csv('./data/df_test_indian.csv')
dfJP = pd.read_csv('./data/df_test_japanese.csv')
dfJP.head()

,category,id,name,rating,review,sentiment
0,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,5,We were back this July and made a point of ret...,1
1,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,4,Zuma has maintained it's consistency in food q...,1
2,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,4,The sushi and dishes here are spectacular. Bla...,1
3,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,2,"In short, over-rated.I apologize if I'm gong t...",-1
4,japanese,4c4AG8gZ73-qHLzaWk-pRA,Zuma,5,Cool / fancy place to have some great japanese...,1

In [3]:
dfCN.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfFR.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfIN.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfJP.drop(['category', 'id', 'name', 'rating'], inplace=True, axis=1)
dfJP.head()

                                              review  sentiment
0  We were back this July and made a point of ret...          1
1  Zuma has maintained it's consistency in food q...          1
2  The sushi and dishes here are spectacular. Bla...          1
3  In short, over-rated.I apologize if I'm gong t...         -1
4  Cool / fancy place to have some great japanese...          1

In [4]:
testCN = dfCN['review']
testFR = dfFR['review']
testIN = dfIN['review']
testJP = dfJP['review']
testCN_lab = dfCN['sentiment']
testFR_lab = dfFR['sentiment']
testIN_lab = dfIN['sentiment']
testJP_lab = dfJP['sentiment']
print(len(testCN_lab))
print(len(testFR_lab))
print(len(testIN_lab))
print(len(testJP_lab))

650
980
1369
552

In [5]:
with open('./models/vectorise.pk', 'rb') as vectorizer:
    vectorizer = pk.load(vectorizer)
test_vectorsCN = vectorizer.transform(testCN)
test_vectorsFR = vectorizer.transform(testFR)
test_vectorsIN = vectorizer.transform(testIN)
test_vectorsJP = vectorizer.transform(testJP)
print(test_vectorsCN.shape)
print(test_vectorsFR.shape)
print(test_vectorsIN.shape)
print(test_vectorsJP.shape)

/Users/davidleonardi/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/davidleonardi/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

(650, 16332)
(980, 16332)
(1369, 16332)
(552, 16332)

In [6]:
# load naivebayes
with open('./models/classifier_naivebayes.pk', 'rb') as naivebayes:
    model1 = pk.load(naivebayes)
    predCN_na = model1.predict(test_vectorsCN)
    predFR_na = model1.predict(test_vectorsFR)
    predIN_na = model1.predict(test_vectorsIN)
    predJP_na = model1.predict(test_vectorsJP)
    predCN_na = list(predCN_na)
    predFR_na = list(predFR_na)
    predIN_na = list(predIN_na)
    predJP_na = list(predJP_na)
    cmCN_na = pd.crosstab(pd.Series(testCN_lab), pd.Series(predCN_na), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmFR_na = pd.crosstab(pd.Series(testFR_lab), pd.Series(predFR_na), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmIN_na = pd.crosstab(pd.Series(testIN_lab), pd.Series(predIN_na), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmJP_na = pd.crosstab(pd.Series(testJP_lab), pd.Series(predJP_na), rownames= ['actuals'], colnames=['pred'],margins=True)

/Users/davidleonardi/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator MultinomialNB from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [7]:
cmCN_na

pred      -1    1  All
actuals
-1       158   80  238
1         33  379  412
All      191  459  650

In [8]:
print (classification_report(predCN_na,  testCN_lab))
print (accuracy_score(predCN_na, testCN_lab))

             precision    recall  f1-score   support

         -1       0.66      0.83      0.74       191
          1       0.92      0.83      0.87       459

avg / total       0.84      0.83      0.83       650

0.8261538461538461

In [9]:
cmFR_na

pred      -1    1  All
actuals
-1       144   74  218
1         40  722  762
All      184  796  980

In [10]:
print (classification_report(predFR_na,  testFR_lab))
print (accuracy_score(predFR_na, testFR_lab))

             precision    recall  f1-score   support

         -1       0.66      0.78      0.72       184
          1       0.95      0.91      0.93       796

avg / total       0.89      0.88      0.89       980

0.8836734693877552

In [11]:
cmIN_na

pred      -1     1   All
actuals
-1       135   133   268
1         39  1062  1101
All      174  1195  1369

In [12]:
print (classification_report(predIN_na,  testIN_lab))
print (accuracy_score(predIN_na, testIN_lab))

             precision    recall  f1-score   support

         -1       0.50      0.78      0.61       174
          1       0.96      0.89      0.93      1195

avg / total       0.91      0.87      0.89      1369

0.8743608473338204

In [13]:
cmJP_na

pred      -1    1  All
actuals
-1        81   43  124
1         35  393  428
All      116  436  552

In [14]:
print (classification_report(predJP_na,  testJP_lab))
print (accuracy_score(predJP_na, testJP_lab))

             precision    recall  f1-score   support

         -1       0.65      0.70      0.68       116
          1       0.92      0.90      0.91       436

avg / total       0.86      0.86      0.86       552

0.8586956521739131

In [15]:
# load SVM
with open('./models/classifier_svm.pk', 'rb') as svm:
    model2 = pk.load(svm)
    predCN_svm = model2.predict(test_vectorsCN)
    predFR_svm = model2.predict(test_vectorsFR)
    predIN_svm = model2.predict(test_vectorsIN)
    predJP_svm = model2.predict(test_vectorsJP)
    predCN_svm = list(predCN_svm)
    predFR_svm = list(predFR_svm)
    predIN_svm = list(predIN_svm)
    predJP_svm = list(predJP_svm)
    cmCN_svm = pd.crosstab(pd.Series(testCN_lab), pd.Series(predCN_svm), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmFR_svm = pd.crosstab(pd.Series(testFR_lab), pd.Series(predFR_svm), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmIN_svm = pd.crosstab(pd.Series(testIN_lab), pd.Series(predIN_svm), rownames= ['actuals'], colnames=['pred'],margins=True)
    cmJP_svm = pd.crosstab(pd.Series(testJP_lab), pd.Series(predJP_svm), rownames= ['actuals'], colnames=['pred'],margins=True)

/Users/davidleonardi/anaconda3/lib/python3.7/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator SVC from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [16]:
cmCN_svm

pred      -1    1  All
actuals
-1       195   43  238
1         60  352  412
All      255  395  650

In [17]:
print (classification_report(predCN_svm,  testCN_lab))
print (accuracy_score(predCN_svm, testCN_lab))

             precision    recall  f1-score   support

         -1       0.82      0.76      0.79       255
          1       0.85      0.89      0.87       395

avg / total       0.84      0.84      0.84       650

0.8415384615384616

In [18]:
cmFR_svm

pred      -1    1  All
actuals
-1       164   54  218
1         67  695  762
All      231  749  980

In [19]:
print (classification_report(predFR_svm,  testFR_lab))
print (accuracy_score(predFR_svm, testFR_lab))

             precision    recall  f1-score   support

         -1       0.75      0.71      0.73       231
          1       0.91      0.93      0.92       749

avg / total       0.87      0.88      0.88       980

0.8765306122448979

In [20]:
cmIN_svm

pred      -1     1   All
actuals
-1       190    78   268
1         65  1036  1101
All      255  1114  1369

In [21]:
print (classification_report(predIN_svm,  testIN_lab))
print (accuracy_score(predIN_svm, testIN_lab))

             precision    recall  f1-score   support

         -1       0.71      0.75      0.73       255
          1       0.94      0.93      0.94      1114

avg / total       0.90      0.90      0.90      1369

0.8955441928414901

In [22]:
cmJP_svm

pred      -1    1  All
actuals
-1        96   28  124
1         49  379  428
All      145  407  552

In [23]:
print (classification_report(predJP_svm,  testJP_lab))
print (accuracy_score(predJP_svm, testJP_lab))

             precision    recall  f1-score   support

         -1       0.77      0.66      0.71       145
          1       0.89      0.93      0.91       407

avg / total       0.86      0.86      0.86       552

0.8605072463768116